<footer class="footer-section">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget company-intro-widget">
                        <a href="index.html" class="site-logo" style="font-size:40px; color:#ffffff;">MyApp</a>
                        <p>Contactanos!, tu sastifacción es prioridad.</p>
                        <ul class="company-footer-contact-list">
                            <li><i class="fas fa-phone"></i>3364434356</li>
                            <!--<li><i class="fas fa-clock"></i>Mon - Sat 8.00 - 18.00</li>-->
                        </ul>
                    </div>
                </div><!-- widget end -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget course-links-widget">
                        <h5 class="widget-title">Secciones</h5>
                        <ul class="courses-link-list">
                            <li> <a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Acerca">Acerca</a></li>
                            <li> <a asp-area="" asp-controller="Home" asp-action="Contacto">Contacto</a></li>
                        </ul>
                    </div>
                </div><!-- widget end -->
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="widget latest-news-widget">
                    <h5 class="widget-title">lastest news</h5>
                    <ul class="small-post-list">
                        <li>
                            <div class="small-post-item">
                                <a href="#" class="post-date">July 18, 2018</a>
                                <h6 class="small-post-title"><a href="#">Lorem Ipsum is simply dummy text of the printing.</a></h6>
                            </div>
                        </li><!-- small-post-item end -->
                        <li>
                            <div class="small-post-item">
                                <a href="#" class="post-date">July 28, 2018</a>
                                <h6 class="small-post-title"><a href="#">Lorem Ipsum is simply dummy text of the printing</a></h6>
                            </div>
                        </li><!-- small-post-item end -->
                    </ul>
                </div>
            </div><!-- widget end -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget newsletter-widget">
                        <br />
                        <br />
                        <div class="footer-newsletter">
                            <p>Ingresar mail para novedades</p>
                            <form class="news-letter-form">
                                <input type="email" name="news-email" id="news-email" placeholder="Tu email">
                                <input type="submit" value="Enviar">
                            </form>
                        </div>
                    </div>
                </div><!-- widget end -->
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 text-sm-left text-center">
                    <span class="copy-right-text">© 2019 <a href="https://codepen.io/anupkumar92">Foos</a> Derechos reservados.</span>
                </div>
                <div class="col-md-6 col-sm-6">
                    <ul class="terms-privacy d-flex justify-content-sm-end justify-content-center">
                        <li><a href="#">Terminos y condiciones</a></li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- footer-bottom end -->
</footer>
