<nav>
    <div class="navWrapper">
        <a href="#" id="logo">MyApp</a>
        <div class="right">
            <div id="nav-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="overlay">
                <div class="overlayContent">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <a asp-area="" asp-controller="Home" asp-action="Acerca">Acerca</a>
                    <a asp-area="" asp-controller="Home" asp-action="Contacto">Contacto</a>
                    <partial name="_LoginPartial" />
                    
                </div>

            </div>
        </div>
    </div>
</nav>
<br>
<br>
<br>